html {
    background-color: lightgrey;
}

.create-account {
    margin       : 10%;
    border-radius: 10px;
    width        : fit-content;
    height       : fit-content;

    .top-panel {
        background-color       : red;
        border-top-left-radius : 10px;
        border-top-right-radius: 10px;
        text-align             : left;
        padding                : 2%;
        padding-inline-start   : 4%;
        font-size              : xx-large;
    }

    .bottom-panel {
        background-color          : white;
        border-bottom-left-radius : 10px;
        border-bottom-right-radius: 10px;
        height                    : fit-content;
    }
}

.text-inside {
    color: white;
}

.text-header {
    color      : red;
    font-weight: bold;
}

.inline-button {
    display: inline-flex;
}

.button-text {
    width    : 130px;
    word-wrap: break-word;
}

.button-data {
    border            : none;
    cursor            : pointer;
    padding           : 0px 10px;
    display           : inline-block;
    outline           : none;
    position          : relative;
    overflow          : hidden;
    -transform        : translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition        : all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    color             : white;
    font-weight       : 600;
    background-color  : red;
    height            : 40px;
    border-radius     : 10px;
    margin-top        : 15px;
    width             : fit-content;
}

.button-data:before {
    opacity           : 0;
    content           : "";
    position          : absolute;
    top               : 0px;
    bottom            : 0px;
    left              : 0px;
    right             : 0px;
    border-radius     : inherit;
    background-color  : #ffffff;
    -webkit-transition: all 0.3s;
    transition        : all 0.3s;
    -webkit-transform : translateY(100%);
    transform         : translateY(100%);
}

.button-data:hover,
.button-data.hover {
    background-color: #d41919;
    color           : #ffffff;
}

.button-data:hover:before,
.button-data.hover:before {
    -webkit-transform: translateY(0%);
    transform        : translateY(0%);
    opacity          : 0.25;
}

.dropdown-data {
    width                     : 260px;
    height                    : 75px;
    color                     : white;
    font-size                 : medium;
    font-weight               : 200;
    background-color          : red;
    border-bottom-right-radius: 10px;
    border-top-right-radius   : 10px;
    margin-left               : -10px;
    margin-top                : -15px;
}

.dropdown-data:hover:before,
.dropdown-data.hover:before {
    -webkit-transform: translateY(0%);
    transform        : translateY(0%);
    opacity          : 0.25;
}

.dropdown-data {
    border                    : none;
    cursor                    : pointer;
    display                   : inline-block;
    outline                   : none;
    position                  : relative;
    overflow                  : hidden;
    transform                 : translateZ(0);
    -webkit-transition        : all 0.35s ease;
    transition                : all 0.35s ease;
    -webkit-box-sizing        : border-box;
    box-sizing                : border-box;
    width                     : 265px;
    height                    : 75px;
    color                     : white;
    font-size                 : medium;
    font-weight               : 400;
    background-color          : red;
    border-bottom-right-radius: 10px;
    border-top-right-radius   : 10px;
    margin-left               : -15px;
    margin-top                : -15px;
    padding-left              : 15px;
}

.dropdown-data:before {
    opacity           : 0;
    content           : "";
    position          : absolute;
    top               : 0px;
    bottom            : 0px;
    left              : 0px;
    right             : 0px;
    border-radius     : inherit;
    background-color  : #ffffff;
    -webkit-transition: all 0.3s;
    transition        : all 0.3s;
    -webkit-transform : translateY(100%);
    transform         : translateY(100%);
}

.dropdown-data:hover,
.dropdown-data.hover {
    background-color: #d41919;
    color           : #ffffff;
}

.data {
    height       : 90px;
    width        : 950px;
    display      : flex;
    flex-wrap    : nowrap;
    padding-block: 10px;
    align-items  : center;

    .data-box-text {
        margin-inline  : 15px;
        height         : fit-content;
        width          : 450px;
        display        : flex;
        flex-wrap      : nowrap;
        justify-content: center;
        border-radius  : 10px;
        align-items    : center;

        .small-data-box-1 {
            background-color   : white;
            text-align         : center;
            width              : 150px;
            height             : 65px;
            padding-block-start: 10px;
            border-radius      : 10px;
            z-index            : 2;
            border             : 2px solid red;
        }

        .small-data-box-2 {
            display                   : block;
            text-align                : left;
            margin-left               : -10px;
            width                     : 250px;
            height                    : 65px;
            padding-block-start       : 10px;
            padding-inline-start      : 20px;
            border-top-right-radius   : 10px;
            border-bottom-right-radius: 10px;
            z-index                   : 1;
            box-shadow                : rgba(0, 0, 0, 0.24) 4px 4px 8px;
        }
    }

    .data-box-button {
        margin-inline  : 15px;
        height         : fit-content;
        width          : 450px;
        display        : flex;
        flex-wrap      : nowrap;
        justify-content: center;
        align-items    : center;
        border-radius  : 10px;

        .small-data-box-1 {
            background-color   : white;
            text-align         : center;
            width              : 150px;
            height             : 65px;
            padding-block-start: 10px;
            border-radius      : 10px;
            z-index            : 2;
            border             : 2px solid red;
        }

        .small-data-box-2 {
            text-align                : left;
            margin-left               : -10px;
            width                     : 250px;
            height                    : 75px;
            padding-inline-start      : 20px;
            border-top-right-radius   : 10px;
            border-bottom-right-radius: 10px;
            z-index                   : 1;
            box-shadow                : rgba(0, 0, 0, 0.24) 4px 4px 8px;
        }
    }
}

.text-data {
    width      : 95%;
    height     : 95%;
    margin-top : -5px;
    border     : 0px;
    word-wrap  : break-word;
    resize     : none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size  : large;
}

.label-1 {
    padding  : 3%;
    font-size: x-large;
}

.primary {
    width : 150px;
    margin: 5%;
}