################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/GSP_API/ErrorRecord
/Backend/GSP_API/Images
