:root {
    --primary: #e30217;
}

.btn {
    margin-right: 3%;
    margin-top: 2%;
    float: right;
    font-family: "Muli";
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    filter: brightness(80%);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: white;
    border: none;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--small {
    padding: 15px 30px;
    font-size: 20px;
}