.popup {
    position       : absolute;
    height         : 100%;
    display        : block;
    justify-content: center;
    align-items    : center;
    width          : 100%;
}

.popup-inner {
    width            : fit-content;
    height           : fit-content;
    z-index          : 50;
    display          : block;
    position         : fixed;
    background-color : white;
    box-shadow       : 0 0 0 100000px rgba(0, 0, 0, 0.5);
    border           : none;
    left             : 50%;
    top              : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    border-radius    : 15px;
}

@mixin cross($size: 1px, $color: currentColor, $thickness: 1px) {
    background: none;
    background: none;

    &:before,
    &:after {
        content      : '';
        position     : absolute;
        bottom       : 45%;
        left         : 25%;
        right        : 0;
        background   : $color;
        border-radius: $thickness;
        width        : $size;
        height       : $thickness;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    span {
        display: block;
    }

}

.close-btn {
    position     : absolute;
    top          : 0.5%;
    right        : 0.5%;
    background   : none;
    width        : 35px;
    height       : 35px;
    outline      : none;
    /* Style new */
    margin       : 0;
    border       : 0;
    padding      : 0;
    background   : rgb(160, 17, 17);
    border-radius: 50%;
    cursor       : pointer;
    transition   : all 150ms;

    &:hover,
    &:focus {
        transform : rotateZ(90deg);
        background: rgb(204, 0, 0);
    }
}

.icon-cross {
    @include cross(40px, rgb(255, 255, 255), 6px);
}

.visually-hidden {
    position: absolute !important;
    clip    : rect(1px, 1px, 1px, 1px);
    padding : 0 !important;
    border  : 0 !important;
    height  : 1px !important;
    width   : 1px !important;
    overflow: hidden;
}

/* .popup-inner .close-btn:hover {
    filter          : brightness(80%);
    background-color: red;
} */

.popup-body {
    padding: 1%;
}

.txtfield {
    width       : 20%;
    height      : 4vh;
    display     : inline-block;
    margin-top  : 3.0rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.txtfield1 {
    width       : 20%;
    height      : 4vh;
    display     : inline-flex;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.datefield {
    width       : 30%;
    height      : 4vh;
    display     : inline-block;
    margin-top  : 3.0rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.numfield {
    width       : 10%;
    height      : fit-content;
    display     : inline-block;
    margin-top  : 3.0rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.numfield1 {
    width       : 10%;
    height      : fit-content;
    display     : inline-flex;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.button_field {
    width       : 15%;
    height      : fit-content;
    display     : inline-flex;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.tablefield {
    width       : 40%;
    display     : inline-flex;
    margin-top  : 2rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
}

.imagefield {
    width        : 100%;
    height       : 100%;
    display      : inline-block;
    margin-bottom: 1rem;
    margin-top   : 2rem;
    margin-left  : 0.5rem;
    margin-right : 0.5rem;
}

.idfield {
    width       : 20%;
    height      : 4vh;
    margin-top  : 2rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
    display     : inline-block;
}

.namefield {
    // width  : calc(100% - 20% - 1rem);
    // height : 4vh;
    width       : 50%;
    height      : 4vh;
    margin-top  : 2rem;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
    display     : inline-block;
}

.idname {
    margin-bottom: 1rem;
}

.btngr {
    margin-top   : 5%;
    margin-bottom: 2%;
    margin-right : 3%;
    text-align   : right;
}

.formDivide {
    display: inline;
    // margin-top: 2%;
}

.btnDivide {
    display: inline-block;
    width: 20%;
    margin: 0;
    margin-bottom: 1%;
}

.divideField {
    display: inline-block;
    width: 85%;
    padding-left: 6%;
 

}

.popup-inner1 {
    width            : 70%;
    height           : fit-content;
    z-index          : 50;
    display          : block;
    position         : fixed;
    background-color : white;
    box-shadow       : 0 0 0 100000px rgba(0, 0, 0, 0.5);
    border           : none;
    left             : 50%;
    top              : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    border-radius    : 15px;
}

.form1 {
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.swal-modal .swal-text {
    text-align: center;
}