.boxprocess {
    background-color: white;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 1%;
    margin-top: 2%;
    display: inline-block;
    width: 98%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px  rgba(227, 2, 23, 0.4);
}

.processfield {
    display: inline-block;
   
}

.divprocess {
    display: inline-block;
    padding-right: 2%;
    padding-bottom: 2%;
}

.formm {
    padding-top: 2%;
    width: 100%;
}

.h3 {
    font-family: 'Muli';
    font-size: 22px;
    color: #e30217;
    padding-bottom: 2%;
}

.date{
    width: 100%;
    margin-bottom: 2%;
}


.start {
    width: 100%;
}

.mid1 {
    width: 100%;
}

.mid2 {
    width: 100%;
}

.status {
    margin-top: 3%;
    width: 100%;
}

.orderdetail {
    width: 100%;
}

.divorderdetail {
    width: 100%;
    padding-right: 2%;
    padding-bottom: 2%;
}

/* .divtabs {
    width: 100vw;
    overflow-x:scroll;
} */

.tabss {
    width: 100%;
    overflow:scroll;
}

.processDetailTable {
    margin-top: 5%;
}